<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% include "nav.html" %}
    <div class="container">
      {% block container %}
      {% endblock %}
    </div>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
