{% load static %}
<div class="navbar-fixed">
  <nav class="white">
    <div class="container">
      <div class="nav-wrapper">
        <div class="row">
          <div class="col s10 m4 offset-m3">
            <div class="col s2">
              <a href="#">
                <img src="{% static 'asets/instagram.png' %}" alt="Platzigram" class="responsive-img">
              </a>
            </div>
            <div class="col s2">
              <a href="#">
                <img src="{% static 'asets/default-profile.png' %}" alt="" class="responsive-img">
              </a>
            </div>
          </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="collapsible.html" class="black-text">Settings</a></li>
        </ul>
      </div>
      </div>
    </div>
  </nav>
</div>
