{% extends "users/base.html" %}
{% block title %}login{% endblock %}
{% load static %}
{% block container %}
  <div class="row">
    <br><br><br><br><br><br><br><br>
    <div class="col s12 m6 offset-m3">
      <div class="card">
        <div class="card-content">
          <p class="center-align">
            <img src="{% static 'asets/instagram.png' %}" alt="" >
          </p>
          <p>Platzigram es una red social muy aspera que fue hecha por mi jejejeje.
            Aquí puedes encontrar los posts de tus amigos y todas esas weas.</p>
        </div>
        <div class="card-action">
          <a href="#"><strong>Login</strong></a>
          <a href="#" class="right"><strong>Sign up</strong></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
